python==3.8.20
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
opencv-python==4.13.0.92
numpy==1.24.3
scipy==1.10.1
scikit-image==0.21.0
pillow==9.0.1
matplotlib==3.7.5
pandas==2.0.3
tqdm==4.67.3
pyyaml==6.0.2
einops==0.8.1
basicsr==1.4.2
lpips==0.1.4
mmcv==2.2.0
mmengine==0.10.7
protobuf==5.29.6
tensorboard-data-server==0.7.2
